.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  /* padding-right: 15px; */
}

.squareImage {
  width: 200px;
  height: 200px;
  object-fit: fill;
}

.rectImage {
  width: 200px;
  height: 100px;
  object-fit: fill;
}

.projRectImage {
  width: 550px;
  height: 300px;
}

.projRectImageFit {
  width: 550px;
  height: 300px;
  object-fit: fill;
}

.projVid {
  width: 550px;
  height: 300px;
}

.schoolProjVideo {
  width: 250px;
  height: 150px;
}

.reflex {
  width: 300px;
  height: 200px;
  object-fit: scale-down;
  padding-right: 10px;
}

.pagedisplay {
  width: 1000px;
  max-width: 1500px;
}

@media (max-width: 1000px) {
  .workCard {
    width: fit-content;
  }
}

@media (min-width: 1800px) {
  .pagedisplay {
    width: 1700px;
  }
}

@media (min-width: 1200px) and (max-width: 1799px) {
  .pagedisplay {
    width: 1300px;
  }

  .projectInfo {
    max-width: 600px !important;
  }
}

.rightAlign {
  display: flex;
  justify-content: flex-end;
}

.centerAlign {
  display: flex;
  justify-content: center;
}

.pagedisplay h2 {
  text-align: center;
}

.projectCard {
  min-height: 350px;
}

.cardList {
  padding-left: 20px;
}

.projectInfo {
  max-width: 450px;
}

.allProjInfo {
  height: 350px;
}

.workInfo {
  max-width: 650px;
  height: 250px;
}

.workCard {
  min-height: 400px;
}

.danceCard {
  min-height: 150px;
}

.danceHeader {
  display: flex;
}

.danceHeader h3 {
  margin: 0;
  padding-right: 0.2em;
}

.danceInfo {
  max-width: 400px;
}
.danceInfo h3 {
  margin: 0;
}

.testimonial {
  min-height: 150px;
  max-width: 500px;
}

.curricularCard {
  min-height: 350px;
}

.curricularInfo {
  max-width: 500px;
}

.curricularDescription {
  max-width: 500px;
}

.imageHeader {
  width: 300px;
}
